flex.sdk = 
air.sdk = 
flexunit.lib =
agal.swc = ${basedir}/lib/adobe-graphicscorelib.swc
away3d = ${basedir}
away3d.ant = ${away3d}/ant
away3d.src = ${away3d}/src
away3d.tests = ${away3d}/tests
away3d.tests.report = ${away3d.tests}/report
tool.browser = c:/Program Files (x86)/Google/Chrome/Application/chrome.exe
